.video_descr_bkg {
display: flex;
flex-flow:column nowrap;
align-items:center;
justify-content:center   
}
.video_descr_title {
}
.video_descr_title {
font-size:2em;
color:#efefef  
}
.bck_color_yellow {
background-color:#EBBC0F !important 
}
.video_descr_descr {
color: #efefef
}
.menu_main_format {
font-size:1.2em !important 
}
.latest_news_flex {
display: flex;
justify-content:center;
color:#efefef;
margin:3em   
}
.yellow_bkg {
background-color:#ebbc0f !important  
}
.grey_bkg {
background-color:#efefef !important 
}
.dark_text {
color:#777777 
}
.my_flex_row {
display:  flex;
justify-content:  center;
align-items:  center
}