.video_descr_bkg {
display: flex;
flex-flow:column nowrap;
align-items:center;
justify-content:center
}
.video_descr_title {
}
.video_descr_title {
font-size:2em;
color:#efefef
}
.bck_color_yellow {
background-color:#EBBC0F !important
}
.video_descr_descr {
color: #efefef
}
.menu_main_format {
font-size:1.2em !important
}
.latest_news_flex {
display: flex;
justify-content:center;
color:#efefef;
margin:6em
}
.yellow_bkg {
background-color:#ebbc0f !important
}
.grey_bkg {
background-color:#ebbc0f  !important
}
.dark_text {
color:#777777;
font-size:2em
}
.my_flex_row {
display:  flex;
justify-content:  center;
align-items:  center
}
.latest_news_section {
padding:8em 0
}
.section_padding {
padding:8em 0
}
.sponsors_logo_flexbetween {
display: flex;
flex-flow:row wrap;
justify-content:space-between
}
.wehelp_flex_column {
display: flex;
flex-flow:column wrap;
align-items:center;
justify-content:center
}
.didyouknow_bkg {
background-color:#ebbc0f !important;
display:flex;
justify-content:space-around;
padding:15em 0 
}
.didyouknow_textwidth {
width:20vw
}
.oursponsors_bkg {
background-color:white !important
}
.footer_bkg {
background-color:#605DA6;
display:flex;
flex-flow: row wrap;
justify-content: space-around;
align-items: center;
padding:4em 2em  
}
.footer_contactus {
font-size:2em;
color:#efefef;
text-align:center
}
.footer_contact_small {
color:#efefef;
font-size:1.5em;
text-align:center
}
.footer_contact_fa {
font-size:3em;
margin:1.2em;
color:  #efefef
}
.footer_contact_input {
padding:0.5em;
font-size:2em;
border-radius:5px;
background-color:#605d95 !important;
border-bottom:3px solid #efefef   
}
.footer_contact_inputbtn {
margin-top:2em;
padding:0.2vw 0.8evw;
border-radius:2px;
font-family:arial;
font-size:1.5vw;
background-color:#EBBC0F   
}
.footer_contact_inputflex {
display:flex;
flex-flow:column;
justify-content: center;
align-items: center
}
.menu_container_fullscr {
width:100vw 
}
.menu_container_fullscr {
width:100vw 
}
.video_section {
}
.violet_bkg {
background-color:#605DA6 !important 
}
.input::placeholder {
color:  #efefef;
text-align: center
}